pkgbase = oscam
	pkgdesc = Open Source Conditional Access Module software
	pkgver = 8109
	pkgrel = 1
	url = http://www.oscam.cc
	arch = x86_64
	arch = i686
	license = GPL3
	depends = libusb
	depends = openssl
	noextract = oscam-8109.zip
	backup = etc/logrotate.d/oscam
	backup = var/lib/oscam/oscam.ac
	backup = var/lib/oscam/oscam.cacheex
	backup = var/lib/oscam/oscam.cert
	backup = var/lib/oscam/oscam.conf
	backup = var/lib/oscam/oscam.dvbapi
	backup = var/lib/oscam/oscam.guess
	backup = var/lib/oscam/oscam.ird
	backup = var/lib/oscam/oscam.provid
	backup = var/lib/oscam/oscam.server
	backup = var/lib/oscam/oscam.services
	backup = var/lib/oscam/oscam.srvid
	backup = var/lib/oscam/oscam.tiers
	backup = var/lib/oscam/oscam.user
	backup = var/lib/oscam/oscam.whitelist
	source = oscam-8109.zip::http://www.streamboard.tv/oscam/changeset/8109/trunk?old_path=%2F&old=8109&format=zip
	source = oscam.logrotate
	source = oscam.service
	md5sums = 378cbf5c5b98038f5c31c5c6a987d717
	md5sums = 1fadb043e8bf28f3a5fed8732dad39a3
	md5sums = 5aff1b9db0027133f3f104fb19d5820c

pkgname = oscam

