pkgbase = oscam
	pkgdesc = Open Source Conditional Access Module software
	pkgver = 8500
	pkgrel = 1
	url = http://www.oscam.cc
	arch = x86_64
	arch = i686
	license = GPL3
	makedepends = svn
	depends = libusb
	depends = openssl
	backup = etc/logrotate.d/oscam
	backup = var/lib/oscam/oscam.ac
	backup = var/lib/oscam/oscam.cacheex
	backup = var/lib/oscam/oscam.cert
	backup = var/lib/oscam/oscam.conf
	backup = var/lib/oscam/oscam.dvbapi
	backup = var/lib/oscam/oscam.guess
	backup = var/lib/oscam/oscam.ird
	backup = var/lib/oscam/oscam.provid
	backup = var/lib/oscam/oscam.server
	backup = var/lib/oscam/oscam.services
	backup = var/lib/oscam/oscam.srvid
	backup = var/lib/oscam/oscam.tiers
	backup = var/lib/oscam/oscam.user
	backup = var/lib/oscam/oscam.whitelist
	source = oscam-8500::svn+http://www.streamboard.tv/svn/oscam/trunk#revision=8500
	source = oscam.logrotate
	source = oscam.service
	md5sums = SKIP
	md5sums = 1fadb043e8bf28f3a5fed8732dad39a3
	md5sums = a20f9587d521ca1b65a760473cb740a8

pkgname = oscam

